.main-class{
    display: flex;
    flex-direction: column;
}
.section-class {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50vw;
}
.div-class-black{
    width: 5vw;
    height: 5vw;
    border: solid 1px gray;
    background-color: black;
}
.div-class-white{
    width: 5vw;
    height: 5vw;
    border: solid 1px gray;
    background-color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
html{
    height: 100%;
}